.navbar {
  box-shadow: 0px 4px 20px rgba(196, 196, 196, 0.2);
  height: $navbar-height;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  top: calc(-1 * #{$navbar-height});
  z-index: 10;
  background-color: $white;
  transition: 300ms ease;
  visibility: hidden;

  &.active {
    top: 0;
    visibility: visible;
  }
}

.navbar-replacement {
  height: $navbar-height;
}
