$white: #fefefe;
$light: #ebebeb;
$lightblue: #7bccfa;
$blue: #7b97fa;
$coral: #fa7b99;
$yellow: #fac77b;
$lightgray: #898989;
$lightergray: #dee2e1;

$border: 0.5px solid $lightgray;

$text-normal: #383d3b;
$text-medium: #4c5350;
$text-black: #1f2221;
$text-placeholder: #c4c4c4;

$navbar-height: 45px;
